.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 90vh;
  max-width: 80%;
  margin: 0 auto;
  .main-header {
    margin: 0 auto;
    padding: 30px 0px 0px;
    margin-bottom: 15px;
    h3 {
      padding-bottom: 20px;
    }
  }
}
.reset {
  // display: none;
}

form  {
  display: none;
  .location {
    margin: 15px;
  }
  input:active,
  input:hover,
  input:visited,
  input:focus {
    background: white;
  }
  .main-options {
    input {
      display: block;
    }
  }
}
input,
button {
    margin: 15px auto;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: $primary;
    border: 2px solid $secondary;
    border-radius: 3px;
    color: $secondary;
    margin-top: 25px;
  }