.main-results {
  .user-contents{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    .article-result {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-right: 50px;
      background-color: $primary;
      border: 15px solid $primary;
      justify-content: center;
      text-align: left;
      border-radius: 3px;
      max-width: 500px;;
    }
    .article-info {
      text-align: center;
    }
  }
  img {
    width: 100%;
    padding-bottom: 25px;
    max-width: 250px;
    display: block;
    margin: auto;
  }
}
.start:hover,
.reset:hover {
  background: white;
}
@media(max-width: 768px) {
  .main-results {
    .user-contents {
      .article-result{
        width: 40%;
      }
    }
  }
}

@media(max-width: 768px) {
  .main-results {
    .user-contents {
      display: block;
      .article-result {
        width: 100%;
        max-width: 500px;
        margin: auto;
      }
    }
  }
}

@media (max-width: 650px) {
   .main-results {
    .user-contents {
      .article-result {
        max-width: 310px;
      }
    }
  }
}