@mixin fontSize($scale) {
	font-size: $scale * 1px;
	font-size: ($scale / 10) * 1rem;
}

html {
	font-size: 62.5%;
}

body {	
  @include fontSize(12);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @include fontSize(37);	
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Playfair Display', serif;
}

h3 {
  @include fontSize(27);	
}
h5 {
  @include fontSize(16);	
}
h4,
h5 {
  margin: 0px 0px 25px;
}
label,
input
select,
textarea,
.main-results a,
h4 {
  @include fontSize(18);	
  padding-bottom: 10px;
}
input {
  color: $secondary;
}
select, textarea {
  background-color: $primary;
}
.main-results a, 
.article-result h5 {
  color: $secondary;
  text-decoration: none;
}
.main-results a:hover {
  color: white;
}