$primary: #60E0B7;
$secondary: #333333;

@import 'setup';
@import 'general';
@import 'typography';
@import 'results';

body {	
	background-color: $secondary;
	background-image: url(../assets/hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	height: auto;
}

#map {
	max-height: 500px;
	width: 500px;
	color: $secondary;
	min-width: 300px;
	min-height: 300px;
	border: 15px solid $primary;
	border-radius: 3px;
	margin: 0px;
}

footer {
	text-align: center;
	a {
		text-decoration: none;
		color: white;
		&:hover {
			color: $primary;
		}
	}
}

@media(max-width: 768px) {
	body {
		height: auto;
	}
	#map {
			margin: 20px auto 0px;
	}
}
@media(max-width: 650px) {
	#map {
		width: 310px;
	}
}