$primary: #60E0B7;
$secondary: #333333;

@import 'setup';
@import 'general';
@import 'typography';
@import 'results';

body {	
	background-color: $secondary;
	background-image: url(../assets/hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	// height: 100vh;
	height: auto;
}

#map {
	max-height: 500px;
	width: 500px;
	color: $secondary;
}

footer {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}