article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  max-width: 80%;
  margin: 0 auto; }
  .main-content .main-header {
    margin: 0 auto;
    padding: 30px 0px 0px;
    margin-bottom: 15px; }
    .main-content .main-header h3 {
      padding-bottom: 20px; }

form {
  display: none; }
  form .location {
    margin: 15px; }
  form input:active,
  form input:hover,
  form input:visited,
  form input:focus {
    background: white; }
  form .main-options input {
    display: block; }

input,
button {
  margin: 15px auto;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #60E0B7;
  border: 2px solid #333333;
  border-radius: 3px;
  color: #333333;
  margin-top: 25px; }

html {
  font-size: 62.5%; }

body {
  font-size: 12px;
  font-size: 1.2rem;
  color: white;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 37px;
  font-size: 3.7rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Playfair Display', serif; }

h3 {
  font-size: 27px;
  font-size: 2.7rem; }

h5 {
  font-size: 16px;
  font-size: 1.6rem; }

h4,
h5 {
  margin: 0px 0px 25px; }

label,
input
select,
textarea,
.main-results a,
h4 {
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 10px; }

input {
  color: #333333; }

select, textarea {
  background-color: #60E0B7; }

.main-results a,
.article-result h5 {
  color: #333333;
  text-decoration: none; }

.main-results a:hover {
  color: white; }

.main-results .user-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 20px; }
  .main-results .user-contents .article-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-right: 50px;
    background-color: #60E0B7;
    border: 15px solid #60E0B7;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    border-radius: 3px;
    max-width: 500px; }
  .main-results .user-contents .article-info {
    text-align: center; }

.main-results img {
  width: 100%;
  padding-bottom: 25px;
  max-width: 250px;
  display: block;
  margin: auto; }

@media (max-width: 768px) {
  .main-results .user-contents .article-result {
    width: 40%; } }

@media (max-width: 768px) {
  .main-results .user-contents {
    display: block; }
    .main-results .user-contents .article-result {
      width: 100%;
      max-width: 500px;
      margin: auto; } }

body {
  background-color: #333333;
  background-image: url(../assets/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  height: auto; }

#map {
  max-height: 500px;
  width: 500px;
  color: #333333;
  min-width: 300px;
  min-height: 300px;
  border: 15px solid #60E0B7;
  border-radius: 3px;
  margin: 0px; }

footer {
  text-align: center; }

@media (max-width: 768px) {
  #map {
    margin: 20px auto 0px; } }
